* {
	background-image: none;
}
window {
	background-color: rgba(0, 0, 0, 0.8);
}
button {
    color: #ebdbb2;
	font-family: FiraCode Nerd Font;
	font-size: 15px;
	background-color: #1d2021;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	min-height: 150px;
}

button:focus, button:active, button:hover {
	background-color: #d79921;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/govind/.config/wlogout/icons/lock.png"), url("/home/govind/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/govind/.config/wlogout/icons/logout.png"), url("/home/govind/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/govind/.config/wlogout/icons/suspend.png"), url("/home/govind/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/govind/.config/wlogout/icons/hibernate.png"), url("/home/govind/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/govind/.config/wlogout/icons/shutdown.png"), url("/home/govind/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/govind/.config/wlogout/icons/reboot.png"), url("/home/govind/.config/wlogout/icons/reboot.png"));
}
